@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');

select { 
    margin: 10px 0;
    width: 200px;
}

body {
    background-color: #F8E2BF;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    text-align: center;
}

.main {
    margin: 50px 0;
    text-align: center;
}

.menu {
    text-align: center;
}


#orderButton { 
    background-color: #C4260C;
    color: rgb(255, 255, 255);
    margin: 10px 0;
    width: 200px;
}

/* CARD STYLING */
.food-card {
    background-color: #FFFAF2;
}

.food-text {
    font-size: 14px;
}

.img-fluid {
    max-width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.location-sub {
    margin-top: 20px;
}

